article {
    display: flex;
    flex-direction: column;
    color:white;
    margin-top: 5%;
    font-family: 'NS';
}

.question {
    display: none;
}

.result {
    display: none;
}

.progress-bar {
    background-color: #1a1a1a;
}

#img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.container {
    background-size: cover;
    background-image: url(flow.jpg);
}

.line {
    margin: 0 auto;
    width: 300px;
    border-bottom: 2px solid #d6d6d6;
    margin-top: 5%;
}

.btn {
    width: 300px;
    height: 160px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 100px;
    font-size: 25px;
}

#A, #B, #title{
    width: 300px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    border-radius: 30px;
    margin-top: 70px;
    font-size: 20px
}

.explain{
    font-size: 25px;
}

.main-title {
    font-size: 50px;
}

@font-face{
    font-family: 'NS';
    src: url('NanumSquareRoundB.ttf')
}
